/*CSS document*/

body {
  background-color: #1f1f1f;
}

div.container {
  max-width: 80em;
  margin: auto;
}

figure {
  margin: 5em auto 1em;
}

.mainstory {
  margin: auto;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 400;
    
}

nav ul li {
  display: inline;
  margin: 1em;
    
}

h3 {
  font-family: montserrat, sans-serif;
  font-weight: 800;
  font-style: oblique;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-top: .5em;
  margin-bottom: 0.3em;
  color: #ffffff;
}

h2 {
  font-family: montserrat, sans-serif;
  font-weight: 800em;
  text-transform: uppercase;
  font-style: oblique;
  font-size: 3em;
  text-decoration: none;
  margin-bottom: 0.2em;
  color: #ffffff;
}

h1 {
  max-width: 10em;
  margin: 1em auto;
}

p {
  font-family: montserrat light, sans-serif;
  font-size: 1em;
  letter-spacing: .05em;
  margin-top: auto;
  color:#ffffff;
}

figcaption {
  font-family: montserrat, sans-serif;
  font-style: italic;
  font-size: 0.8em;
  margin-bottom: 1em;
    color:#ffffff;
}

a:link {
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin-top: 3em;
}

@media screen and (min-width: 60em) {
  div.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  header {
    grid-column: 1/3;
  }

  main {
    grid-column: 1/2;
  }

  div.below {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 1em;
  }

  aside {
    grid-column: 2/3;
    margin: 0em 2em;
  }

  div.suggested {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 1em;
  }
}

article {
  grid-column: 1/3;
  max-width: 50em;
  margin: auto;
}

a {
  text-decoration: none;
}

a p {
 color: #ffffff;
}

li a {
  color: #ffffff;
}
