/*CSS document*/

body {
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-family: roboto,sans-serif;
	font-weight: 400;
	font-style: normal;
}


div.container {
    max-width: 40em;
    margin: auto;
}
    

figure {
    margin: 0;
}


img {
    width: 100%;
    margin:1em auto;
}


ul {
    list-style-type: none;
    padding: 0;
}


a:link {
  text-decoration: none;
}


/*Article titles*/
h3 {
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight:700;
    font-style:oblique;
    margin: .3em auto;

   
}

/* main story titles*/
h2 {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight:700;
    font-style:oblique;
    margin: 1em auto auto;
}

/*Body text*/
p {
    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1em;
    color:  rgba(255,255,255,1);
    margin: 1em auto 2em;

   
}

figcaption {
    font-family: roboto, sans-serif;
    font-style: oblique;
    font-weight: 100;
    font-size: .75em;
    color: #ffffff; 
    margin: auto auto 2em;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    margin-left: 1.3em;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffee00;
}

footer {
    margin-top: 5em;
}

footer p {
    text-align: center;
}